@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');

.potentials {
    width: 40vw;
    height: 100%vh;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: column;
    font-family: 'Playfair Display SC';
    font-weight: 600;
    letter-spacing: .4rem;
}
.added {
    width: 20vw;
    height: 6vh;
    font-family: 'Playfair Display SC';
    font-weight: 600;
    letter-spacing: .2rem;
}
